/* =========================================
   XO ULTIMATE PRO - MAIN STYLESHEET
   تجميع ملفات التصميم
   ========================================= */

@import url('variables.css');   /* 1. الألوان */
@import url('layout.css');      /* 2. الهيكلة */
@import url('components.css');  /* 3. العناصر */
@import url('animations.css');  /* 4. الحركات  */

.screen {
    will-change: transform, opacity;
}

body {
    -webkit-overflow-scrolling: touch;
}
